body, html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  z-index: 4; }
  .spinner-wrapper p {
    text-align: center;
    position: absolute;
    bottom: 200px;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    color: #fafafa; }
    .spinner-wrapper p:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4, end) 2s infinite;
      animation: ellipsis steps(4, end) 1.5s infinite;
      content: "\2026";
      width: 0px;
      position: absolute; }
  .spinner-wrapper .spinner-content {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 300px; }
  .spinner-wrapper .spinners {
    position: relative;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    height: 25px;
    width: 25px;
    border-radius: 50%; }
    .spinner-wrapper .spinners.buble-1 {
      animation: bubleUp 1.5s linear infinite 0s;
      background: rgba(250, 0, 0, 0.7);
      left: 1px;
      border: 1px solid rgba(46, 0, 0, 0.7); }
    .spinner-wrapper .spinners.buble-2 {
      animation: bubleLower 1.2s linear infinite 220ms;
      background: rgba(51, 51, 51, 0.8);
      left: 11px;
      border: 1px solid rgba(0, 0, 0, 0.8); }
    .spinner-wrapper .spinners.buble-3 {
      animation: bubleUp 1s linear infinite 470ms;
      background: rgba(250, 0, 0, 0.7);
      left: 1px;
      border: 1px solid rgba(46, 0, 0, 0.7); }
    .spinner-wrapper .spinners.buble-4 {
      animation: bubleLower 1.7s linear infinite 370ms;
      background: rgba(51, 51, 51, 0.8);
      left: 18px;
      border: 1px solid rgba(0, 0, 0, 0.8); }
    .spinner-wrapper .spinners:after {
      content: '';
      position: absolute;
      text-align: center;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      display: block;
      top: 2px;
      left: 2px;
      border: 3px solid #fafafa;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      transform: rotate(40deg); }

@keyframes bubleUp {
  0% {
    transform: translateY(70px) scale(0);
    opacity: 1; }
  90% {
    opacity: 0.8; }
  100% {
    transform: translateY(0px) scale(1.2);
    opacity: 0; } }
@keyframes bubleLower {
  0% {
    transform: translateY(50px) scale(0);
    opacity: 1; }
  90% {
    opacity: 0.8; }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 0; } }
@keyframes ellipsis {
  100% {
    width: 25px; } }
header > span {
  background-image: url("../marvel-logo.png");
  height: 114px;
  width: 250px;
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 26px;
  opacity: 0;
  transform-origin: center top;
  transform: translateY(-50px) scale(1.3);
  transition: 700ms all cubic-bezier(0, 0.87, 0.64, 1); }
  header > span.header-in {
    opacity: 1;
    transform: translateY(0px) scale(1); }

header > h1 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 35px;
  color: #fafafa;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  margin: 60px;
  opacity: 0;
  transform: translateY(50px) scale(1.3);
  transition: 700ms all cubic-bezier(0, 0.87, 0.64, 1) 600ms;
  transform-origin: center bottom; }
  header > h1.header-in {
    opacity: 1;
    transform: translateY(0px) scale(1); }

.wrapper {
  position: relative;
  width: 100%;
  background-color: #111; }
  .wrapper .content {
    min-height: 500px;
    display: block;
    position: relative;
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative; }
    .wrapper .content p {
      color: #fafafa;
      font-size: 17px; }
  .wrapper .comic-wrapper {
    position: relative;
    opacity: 0;
    width: 20%;
    transform: scale(0); }
    .wrapper .comic-wrapper.comics-in {
      animation: comicsIn 0.7s ease-out forwards 200ms; }
    .wrapper .comic-wrapper:hover .overlayer {
      opacity: 1; }
    .wrapper .comic-wrapper img {
      display: block;
      position: relative;
      width: 100%; }

@keyframes comicsIn {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
.overlayer {
  position: absolute;
  opacity: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  transition: all 200ms ease; }
  .overlayer .comic-title {
    padding: 0 10px;
    text-align: center;
    position: relative;
    top: 30%;
    cursor: pointer;
    transition: all 200ms ease; }
    .overlayer .comic-title:hover {
      text-decoration: underline; }

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto; }
  footer p {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding: 25px;
    margin: 0;
    color: #fafafa; }

.modal {
  position: fixed;
  overflow-y: scroll;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
  display: block;
  visibility: hidden;
  transition: all 300ms ease-in-out; }
  .modal.show-modal {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7); }
  .modal .modal-content {
    margin: 2% auto;
    padding: 25px;
    position: relative;
    border: 1px solid black;
    width: 80%;
    opacity: 0;
    box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.7);
    background-color: #fafafa;
    transition: all 300ms ease-in-out;
    transform: translateY(-150px); }
    .modal .modal-content.slide-in {
      transform: translateY(0px);
      opacity: 1; }
    .modal .modal-content:after {
      content: "";
      display: table;
      clear: both; }
  .modal img {
    width: 35%;
    float: left;
    padding-bottom: 10px; }
  .modal h2, .modal h3 {
    font-weight: 300;
    font-size: 17px;
    color: #444;
    font-weight: 500; }
  .modal h2 {
    margin-top: 0; }
  .modal p {
    font-size: 13px;
    line-height: 22px;
    margin: 0;
    color: #444; }
  .modal .comic-info {
    width: 62%;
    padding-left: 20px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    font-weight: 300; }
    .modal .comic-info .creators, .modal .comic-info .characters, .modal .comic-info .comics {
      padding-left: 0;
      margin: 8px 0; }
      .modal .comic-info .creators li, .modal .comic-info .characters li, .modal .comic-info .comics li {
        list-style-type: none; }
    .modal .comic-info .single-character p {
      color: #76b5d8; }
      .modal .comic-info .single-character p:hover {
        text-decoration: underline;
        cursor: pointer; }
  .modal .close {
    color: #444;
    font-size: 28px;
    font-weight: bold;
    right: 25px;
    top: 15px;
    position: absolute;
    transition: all 200ms ease-in-out; }
    .modal .close:hover, .modal .close:focus {
      color: #111;
      text-decoration: none;
      cursor: pointer; }

.chars-creat {
  display: inline-block;
  width: 45%;
  vertical-align: top; }
  .chars-creat:nth-child(2) {
    padding-left: 13px; }

.bg-noscroll {
  overflow: hidden; }

.tooltip {
  position: relative; }
  .tooltip .tooltiptext {
    height: 120px;
    width: 120px;
    background-color: #111;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease; }
    .tooltip .tooltiptext img {
      max-height: 100%;
      width: 100%;
      position: relative;
      z-index: 1; }
    .tooltip .tooltiptext:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #111 transparent transparent transparent; }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }
  .tooltip:hover .circle {
    display: block; }
  .tooltip .circle {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 30%;
    display: none; }
    .tooltip .circle.one {
      border: 3px solid #111;
      border-top-color: #fafafa;
      animation: animateSpinner 1000ms ease infinite; }
    .tooltip .circle.two {
      bottom: 73px;
      left: 3px; }

@keyframes animateSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@media (max-width: 880px) {
  .content .comic-wrapper {
    width: 25%; } }
@media (max-width: 770px) {
  .modal {
    padding: 2%; }
    .modal .modal-content {
      width: 100%;
      margin: 0; }
    .modal img {
      margin: 0 auto;
      display: block;
      float: none; }
    .modal .comic-info {
      width: 100%;
      float: none;
      padding-left: 0px; } }
@media (max-width: 550px) {
  .content .comic-wrapper {
    width: 50%; }

  .spinner-wrapper p {
    bottom: 160px; }
  .spinner-wrapper .spinner-content {
    bottom: 250px; }

  .modal .modal-content {
    padding: 15px; } }

/*# sourceMappingURL=styles.css.map */
